section.contact h2 {
    text-align: center;
    font-size: 2.4rem;
}

section.contact .img {
    display: flex;
    justify-content: center;
}

section.contact .img img {
    max-width: 600px;
}

section.contact form {
    max-width: 700px;
    margin: 0 auto;
}

section.contact form label {
    padding-left: 0;
}

section.contact form .btn-contact {
    color: #fff;
    background:  #1c2230;
    border-radius: 4px;
    padding: 10px 15px;
    border: none;
    outline: none;
    cursor: pointer;
}


@media only screen and (min-width: 768px) {

    section.contact form .btn-contact {
        margin-left: 110px;
    }

    section.contact h2 {
        font-size: 3rem;
    }

}